@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities
{
    .double-gradient-bluegreen
    {
        /*
        <div id="gradient" className="absolute z-0 bg-gradient-to-b from-blue-200 to-cyan-400 bg-fixed bg-no-repeat bg-center w-full h-full">
            <div id="other-gradient" className="absolute z-10 bg-gradient-to-bl from-green-200 via-white to-lime-200 opacity-50 bg-fixed bg-no-repeat bg-center w-full h-full">
            </div>
        </div>
        */
        background-image: linear-gradient(to bottom left, #bbf7d080, #ffffff80, #d9f99d80), linear-gradient(to bottom ,#bfdbfe, #22d3ee);
        background-attachment: fixed, fixed;
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
    }

    .double-gradient-redorange
    {
        background-image: linear-gradient(to bottom left, #ffc0c080, #ff000080), linear-gradient(to bottom ,#ffbb00, #ff9020);
        background-attachment: fixed, fixed;
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
    }
}

body
{
    font-family: "Arial", sans-serif;
}

