@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities
{
    .double-gradient-bluegreen
    {
        /*
        <div id="gradient" className="absolute z-0 bg-gradient-to-b from-blue-200 to-cyan-400 bg-fixed bg-no-repeat bg-center w-full h-full">
            <div id="other-gradient" className="absolute z-10 bg-gradient-to-bl from-green-200 via-white to-lime-200 opacity-50 bg-fixed bg-no-repeat bg-center w-full h-full">
            </div>
        </div>
        */
        background-image: linear-gradient(to bottom left, #bbf7d080, #ffffff80, #d9f99d80), linear-gradient(to bottom ,#bfdbfe, #22d3ee);
        background-attachment: fixed, fixed;
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
    }

    .double-gradient-redorange
    {
        background-image: linear-gradient(to bottom left, #ffc0c080, #ff000080), linear-gradient(to bottom ,#ffbb00, #ff9020);
        background-attachment: fixed, fixed;
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
    }
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

  
body
{
    font-family: "Arial", sans-serif;
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}

a
{
    text-decoration-line: underline;
}

